@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    /* Common styles */
    --color-red: #FF0000;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-7: rgba(0, 0, 0, 0.7);
    --color-aqua: #6ED7D3;
    --color-blue: #1D79BD;
    --color-green: #217875;
    --color-dark-green: #007A76;
    --color-gray: #B8C4CE;
    --color-dark-gray: #6F6F6F;
    --color-yellow: #E3A100;
    
    /* Background colors */
    --color-bg-main: #F2F2F2;
    --color-bg-primary: #FFFFFF;
    --color-bg-grey: #EEEEEE;
    --color-bg-input: #E1E7EC;
    /* Typography colors */
    --color-text-main: #212121;
    --color-text-secondary: #687788;
    --color-hightlight: #5F6B7A;
    --color-border-main: #B8C4CE;
    --color-grey-border: #979797;
    --color-green-border: #007976;
}

body * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a, span, p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    font-family: 'Muli', sans-serif;
}

h4 {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: var(--color-text-main);
}

h5 {
    font-family: 'Muli-Regular_SemiBold', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: var(--color-text-main);
}

h6 {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-text-main);
}


p {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-text-main);
}

.p-xsmall {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    color: var(--color-text-main);
}

.p-small {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-text-main);
}

.p-medium {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: var(--color-text-main);
}

.p-large {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: var(--color-text-main);
}

.input-error {
    color: var(--color-red);
}

.ant-btn {
    border: none;
    background: var(--color-green);
    border-radius: 3px;
    color: var(--color-white);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    &:hover, &:active, &:focus {
        background: var(--color-dark-green);
        color: var(--color-white);
    }
}